/* Estilos de estruturas y generales*/

body{font-size: 1.1rem;}

/* Colores de fuentes */
.fcol-01{ color: #FFFFFF; } /* blanco */
.fcol-02{ color: #038aff; } /* azul celeste */
.fcol-03{ color: #161348; } /* azul marino */
.fcol-04{ color: #febd3d; } /* amarillo */
.fcol-05{ color: #728097; } /* gris */
.fcol-06{ color: #fdbe3d; } /* amarillo */
.fcol-07{ color: #5ccaa7; } /* Verde esmeralda */

/* Colores de fuentes */
.bg-01{ background: #FFFFFF; } /* blanco */
.bg-02{ background: #038aff; color:#FFFFFF;} /* azul celeste */
.bg-03{ background: #161348; color:#FFFFFF;} /* azul marino */
.bg-04{ background: #febd3d; color:#FFFFFF;} /* amarillo */
.bg-05{ background: #728097; } /* gris */
.bg-06{ background: url('../img/bg-cc.png') center center; background-size: cover; color:#FFFFFF!important;} /* purple */
.bg-07{ background: rgb(255,255,255);
background: -moz-linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(3,138,255,1) 50%, rgba(3,138,255,1) 100%);
background: -webkit-linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(3,138,255,1) 50%, rgba(3,138,255,1) 100%);
background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(3,138,255,1) 50%, rgba(3,138,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#038aff",GradientType=1);} /* gradiente head */
.bg-08{ background: rgb(22,19,72);
background: -moz-linear-gradient(357deg, rgba(22,19,72,1) 0%, rgba(22,19,72,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(357deg, rgba(22,19,72,1) 0%, rgba(22,19,72,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: linear-gradient(357deg, rgba(22,19,72,1) 0%, rgba(22,19,72,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161348",endColorstr="#ffffff",GradientType=1);} /* gradiente footer */
.bg-09{ background: #1f1246; } /* purple */
.bg-10{ background: #5ccaa7; } /* Verde esmeralda */
.bg-11{ background: #fafbff; } /* Gris claro */
.bg-12{ background: rgb(255,255,255);
background: -moz-linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(250,251,255,1) 50%, rgba(250,251,255,1) 100%);
background: -webkit-linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(250,251,255,1) 50%, rgba(250,251,255,1) 100%);
background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(250,251,255,1) 50%, rgba(250,251,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fafbff",GradientType=1);} /* gradiente Awards */

.ff-01{font-family: 'Nunito Sans', sans-serif;}
.ff-02, .title-f{font-family: 'Nunito', sans-serif;}

.fz-01{font-size: 86px;}
.fz-01 span{font-size: 0.5em;}
.fz-02{font-size: 65px;}
.fz-02 span{font-size: 0.5em;}
.fz-03{font-size: 49px;}
.fz-03 span{font-size: 0.5em;}
.fz-04{font-size: 37px;}
.fz-04 span{font-size: 0.5em;}
.fz-05{font-size: 28px;}
.fz-05 span{font-size: 0.5em;}
.fz-06{font-size: 21px;}
.fz-06 span{font-size: 0.5em;}
.fz-07{font-size: 13px;}

.fwb{font-weight: 600;}
.fwi{font-weight: 100;}

.rounded{border-radius: 20px!important; overflow: hidden;}
.shadowed{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);}

.op5{opacity: 0.5;}

@media screen and (max-width: 1200px) and (min-width: 768px){
	.fz-01{font-size: 71px;}
	.fz-01 span{font-size: 0.5em;}
	.fz-02{font-size: 50px;}
	.fz-02 span{font-size: 0.5em;}
	.fz-03{font-size: 34px;}
	.fz-03 span{font-size: 0.5em;}
	.fz-04{font-size: 21px;}
	.fz-04 span{font-size: 0.5em;}
	.fz-05{font-size: 18px;}
	.fz-05 span{font-size: 0.5em;}
	.fz-06{font-size: 15px;}
	.fz-06 span{font-size: 0.5em;}
	.fz-07{font-size: 11px;}
}

@media screen and (max-width: 767px) and (min-width: 0){
	.fz-01{font-size: 71px;}
	.fz-01 span{font-size: 0.5em;}
	.fz-02{font-size: 50px;}
	.fz-02 span{font-size: 0.5em;}
	.fz-03{font-size: 34px;}
	.fz-03 span{font-size: 0.5em;}
	.fz-04{font-size: 21px;}
	.fz-04 span{font-size: 0.5em;}
	.fz-05{font-size: 18px;}
	.fz-05 span{font-size: 0.5em;}
	.fz-06{font-size: 15px;}
	.fz-06 span{font-size: 0.5em;}
	.fz-07{font-size: 11px;}
}