/*Detalles especificos*/
/* Deatlles nav */
.navbar-brand{display: block; text-indent: -999999px; background: url('../img/odoo-white.svg')no-repeat center center; width: 150px;}
nav{border-bottom:1px solid rgba(255,255,255,0.3);}
/* Detallees tarjetas header */
.credit-card{color: #ffffff; margin: 30px 0; padding: 35px; border-radius:15px;}
.card-ex{width: 450px;}
.more-cards{display: inline-block; border-bottom: dashed 1px #038aff;}